---
- name: 'RedHat: Upgrade all packages' # noqa package-latest
  ansible.builtin.dnf:
    name: '*'
    state: 'latest'
    update_cache: true

- name: 'RedHat: Check if a reboot is needed'
  when: 'os_update_auto_reboot'
  block:
    - name: 'RedHat: Check if Reboot required' # noqa command-instead-of-module
      register: 'os_update_reboot_required'
      ansible.builtin.command:
        cmd: 'yum needs-restarting -r'
        warn: false
      failed_when: '( os_update_reboot_required.rc not in [ 0, 1 ] )'
      changed_when: 'os_update_reboot_required.rc == 1'

    - name: 'RedHat: Reboot the box if kernel updated'
      ansible.builtin.reboot:
        msg: 'Reboot initiated by Ansible for kernel updates'
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: 'uptime'
      when: 'os_update_reboot_required.rc == 1'
...
