---
- name: 'Create Config directory'
  ansible.builtin.file:
    state: 'directory'
    path: '/etc/starship/'
    owner: 'root'
    group: 'root'
    mode: '0755'
  become: true
  become_user: root

- name: 'Template Config'
  ansible.builtin.template:
    src: 'starship.toml.j2'
    dest: '/etc/starship/starship.toml'
    owner: 'root'
    group: 'root'
    mode: '0644'
  become: true
  become_user: root
...
