---
- name: 'Install starship with brew'
  community.general.homebrew:
    name: 'starship'
    state: 'present'

- name: 'Tap olets/tap'
  community.general.homebrew_tap:
    name: olets/tap
    state: present

- name: 'Install zsh-transient-prompt with brew'
  community.general.homebrew:
    name: 'zsh-transient-prompt'
    state: 'present'

- name: 'Enable starship on zsh'
  ansible.builtin.blockinfile:
    path: /etc/zshrc
    marker: '# {mark} ANSIBLE MANAGED BLOCK (p5xeu.general.setup_starship)'
    block: |
      source /opt/homebrew/share/zsh-transient-prompt/transient-prompt.zsh-theme
      eval "$(starship init zsh)"
      # Current Left Prompt
      TRANSIENT_PROMPT_PROMPT='$(starship prompt --terminal-width="$COLUMNS" --keymap="${KEYMAP:-}" --status="$STARSHIP_CMD_STATUS" --pipestatus="${STARSHIP_PIPE_STATUS[*]}" --cmd-duration="${STARSHIP_DURATION:-}" --jobs="$STARSHIP_JOBS_COUNT")'
      # Current Right Prompt
      TRANSIENT_PROMPT_RPROMPT='$(starship prompt --right --terminal-width="$COLUMNS" --keymap="${KEYMAP:-}" --status="$STARSHIP_CMD_STATUS" --pipestatus="${STARSHIP_PIPE_STATUS[*]}" --cmd-duration="${STARSHIP_DURATION:-}" --jobs="$STARSHIP_JOBS_COUNT")'
      # Transient prompt
      TRANSIENT_PROMPT_TRANSIENT_PROMPT='$(starship module character)'
      # Path to starship-config
      export STARSHIP_CONFIG='/etc/starship/starship.toml'
      # Configure History
      HISTSIZE=5000
      SAVEHIST=5000
      HISTFILE=~/.zsh_history
      # Activate autocomplete
      autoload -U compinit; compinit
      # Configure Autocomplete
      zstyle ':completion:*' menu select
  become: true
  become_user: root

- name: 'Enable starship on bash'
  ansible.builtin.blockinfile:
    path: /etc/bashrc
    marker: '# {mark} ANSIBLE MANAGED BLOCK (p5xeu.general.setup_starship)'
    block: |
      eval "$(starship init bash)"
  become: true
  become_user: root
...
