---
- name: 'Setup Starship corp repo'
  community.general.copr:
    name: 'atim/starship'
  become: true
  become_user: root

- name: 'Install starship'
  ansible.builtin.package:
    name: 'starship'
    state: 'present'
  become: true
  become_user: root

- name: 'Clone zsh-transient-prompt'
  ansible.builtin.git:
    repo: 'https://github.com/olets/zsh-transient-prompt'
    dest: /opt/zsh-transient-prompt
    depth: 1
    single_branch: true
    version: main

- name: 'Configure ZSH'
  ansible.builtin.include_tasks:
    file: 'configure_zsh.yaml'
  vars:
    setup_starship_zshrc_path: '/etc/zshrc'
    setup_starship_transient_prompt_path: '/opt/zsh-transient-prompt'

- name: 'Configure Bash'
  ansible.builtin.include_tasks:
    file: 'configure_bash.yaml'
  vars:
    setup_starship_bashrc_path: '/etc/bashrc'
...
