---
- name: 'Install starship with brew'
  community.general.homebrew:
    name: 'starship'
    state: 'present'

- name: 'Tap olets/tap'
  community.general.homebrew_tap:
    name: olets/tap
    state: present

- name: 'Install zsh-transient-prompt with brew'
  community.general.homebrew:
    name: 'zsh-transient-prompt'
    state: 'present'

- name: 'Configure ZSH'
  ansible.builtin.include_tasks:
    file: 'configure_zsh.yaml'
  vars:
    setup_starship_zshrc_path: '/etc/zshrc'
    setup_starship_transient_prompt_path: '/opt/homebrew/share/zsh-transient-prompt'

- name: 'Configure Bash'
  ansible.builtin.include_tasks:
    file: 'configure_bash.yaml'
  vars:
    setup_starship_bashrc_path: '/etc/bashrc'
...
