{
  "ipv6": {{ setup_docker_ipv6_enabled | bool | lower }},
  "fixed-cidr": "{{ setup_docker_ipv4_cidr | ansible.utils.ipsubnet(setup_docker_ipv4_subnet_size, 0) }}",
  "fixed-cidr-v6": "{{ setup_docker_ipv6_cidr | ansible.utils.ipsubnet(setup_docker_ipv6_subnet_size, 0) }}",
  "experimental": true,
  "ip6tables": true,
  "default-address-pools": [
    {
      "base": "{{ setup_docker_ipv4_cidr }}",
      "size": {{ setup_docker_ipv4_subnet_size }}
    },
    {
      "base": "{{ setup_docker_ipv6_cidr }}",
      "size": {{ setup_docker_ipv6_subnet_size }}
    }
  ]
}