---
- name: Install Packages
  ansible.builtin.package:
    name:
      - 'fastfetch'

- name: Create /etc/fastfetch
  ansible.builtin.file:
    path: '/etc/fastfetch'
    state: 'directory'
    mode: '0755'

- name: Copy fastfetch config to hosts
  ansible.builtin.copy:
    src: 'fastfetch.jsonc'
    dest: '/etc/fastfetch/fastfetch.jsonc'
    mode: '0755'

- name: Template motd.sh to /etc/profile.d/motd.sh
  ansible.builtin.copy:
    content: 'fastfetch -c /etc/fastfetch/fastfetch.jsonc'
    dest: '/etc/profile.d/motd.sh'
    mode: "0744"

- name: Remove file /etc/motd
  ansible.builtin.file:
    path: '/etc/motd'
    state: 'absent'
...
